{% extends 'base.html.twig' %}

{% block title %}Cosy Pages - Connexion{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('/styles/login.css')}}">
{% endblock %}

{% block body %}
    {# <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form> #}


    <div class="wrapper" style="background-image: url('https://static.vecteezy.com/ti/photos-gratuite/p2/17281740-un-livre-pose-sur-un-lit-a-cote-d-une-tasse-de-cafe-gratuit-photo.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="https://img.freepik.com/vecteurs-libre/pile-design-plat-dessine-main-illustration-livres_23-2149341898.jpg" alt="">
				</div>
				<form action="" method="post">
					<h3>Se connecter</h3>
					<div class="form-group">
						<input type="text" name="_username" id="username" placeholder="Nom" class="form-control">
						<input type="text" placeholder="Prenom" class="form-control">
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Adresse mail" class="form-control">
						<i class="zmdi zmdi-email"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Confirmez le mot de passe" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
					<button type="submit">Connexion
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
{% endblock %}
